
<div class="column is-half">
    <h1 class="title is-4">Latest Posts:</h1>
    <% @posts.each do | post | %>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                            <strong>Title:</strong>
                            <br>
                            <%= post.title %>
                        <hr>
                            <strong>Post:</strong>
                                <%= post.body %>
                    </div>
                </div>
            </article>
        </div>
    <% end %>
</div>
