<section class="section">
  <div class="container">
    <div class="columns">
    	<% if user_signed_in? %>
    		<%= render 'profile' %>
      <% else %>
    		<%= render 'without' %>
        
      <% end %>
       <%= render 'feed' %>
    </div>
  </div>
</section>