<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  
</p>



<div class="section">
	<div class="container is-centered box">
		<div class="columns is-center">
			<div class="column is-half">
				<h1 class="title">Post:</h1>
					
        <p class="title is-4"><%= post.title, post %></p>
			</div>
		</div>
      <div class="field is-grouped">
        <p class="control is-center">
          <%= link_to 'Back', posts_path, class: "button is-dark" %>
          <%= link_to 'Edit', edit_post_path(@post), class: "button is-success" %>
        </p>
      </div>
	</div>
</div>
